<p>Hi there,</p>

<p>A query has been raised in relation to a #{agencyName} data set: #{dataset}. Please log in to your profile on data.gov.au using #{agencyEmail} as soon as possible to respond to this query.</p>

<p>The query is from #{requesterName}, #{requesterEmail}>:</p>

<p>#{requesterMsg}></p>

<p>The Australian Government has mandated that agencies have a responsibility to be transparent to any public consumer of open data <link to the mandate I just made up>. If you have questions about why you got this email or what to do, email data@digital.gov.au</p>

<p>Sincerely, </br> The Digital Transformation Agency at Data.gov.au</p>
</p>