<%- include( '_head.ejs' ) %>

	<div class="outer">
		<div class="inner" id="body">

    </div>
  </div>


<script type="text/babel" data-presets="es2017">

<%- include( 'admin.js' ) %>

<%- include( 'admin_common.js' ) %>

<%- include( 'admin_me.js' ) %>
<%- include( 'admin_logo.js' ) %>
<%- include( 'admin_navigation.js' ) %>
<%- include( 'admin_pages.js' ) %>
<%- include( 'admin_stories.js' ) %>
<%- include( 'admin_user_accounts.js' ) %>
<%- include( 'admin_language.js' ) %>
<%- include( 'admin_connectors.js' ) %>
<%- include( 'admin_home.js' ) %>

</script>

<%- include( '_tail.ejs' ) %>
